name: build
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      name: checkout
    - name: python
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: setup
      uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        version: '275.0.0'
        service_account_email: ${{ secrets.GCP_SA_EMAIL }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
    - name: deploy
      run: | 
        csv-to-sqlite -f data.csv  -o data.db
        gcloud info
        gcloud config set project glasnt-datasette-1
        gcloud config set region us-central1
        datasette publish cloudrun data.db
